
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://d2jx2rerrg6sh3.cloudfront.net/images/Article_Images/ImageForArticle_22744_16565132428524067.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-column {
    flex: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}
.left-column h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.left-column input[type="number"] {
    width: 40%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.left-column input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.left-column input[type="submit"]:hover {
    background-color: #0056b3;
}
.left-column input[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.left-column input[type="button"]:hover {
    background-color: #0056b3;
}

input[type="file"] {
    color: #0056b3; 
    font-size: 16px; 
    font-family: Arial, sans-serif;
    padding: 5px; 
}

input[type="file"]::file-selector-button {
    background-color: #555555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #c2c5c2;
}

.left-column h2.or {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}


.input-number {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: auto; 
}

.input-number h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}


.input-number input[type="number"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.input-number input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.input-number input[type="submit"]:hover {
    background-color: #0056b3;
}


.csv-import {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: auto; 
}


.csv-import h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.csv-import input[type="file"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.csv-import input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.csv-import input[type="submit"]:hover {
    background-color: #0056b3;
}

.csv-import i.fas.fa-times {
    color: red;
    cursor: pointer;
}

.right-column {
    flex: 130%; 
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}
.column-header {
    padding: 10px; /* Add padding to table header cells */
    background-color: #f2f2f2; /* Background color for header cells */
}

.column-data {
    padding: 8px; /* Add padding to table data cells */
}